<!-- Navigaatiopalkki -->
<GridLayout height="60" verticalAlignment="bottom">
    <GridLayout height="60" columns="*, *, *">
        <GridLayout col="0">
            <Button text="Plant" nsRouterLink="/plant"></Button>
        </GridLayout>
        <GridLayout col="1">
            <Button text="Stats" nsRouterLink="/stats"></Button>
        </GridLayout>
        <GridLayout col="2">
            <Button text="Settings" nsRouterLink="/settings"></Button>
        </GridLayout>
    </GridLayout>    
</GridLayout>
