<StackLayout id="mainstack" [formGroup]="moodForm">
    
    <StackLayout>
        <!-- Mood-valinta -->
        <SegmentedBar formControlName="mood" [items]="myItems" selectedIndex="0" (selectedIndexChange)="onSelectedIndexChange($event)"></SegmentedBar>
        <!-- Vapaa teksti -->
        <TextField formControlName="freeText" hint="Free text" autocorrect="false"></TextField>
        <!-- Aktiviteettien valinta -->
        <RadListView [items]="items" (itemTap)="onItemTap($event)" rowHeight="60">
            <ng-template tkListItemTemplate let-item="item">
                <app-item [item]="item"></app-item>
            </ng-template>
            <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" spanCount="3"></ListViewGridLayout>
        </RadListView>
    </StackLayout>
</StackLayout>
<StackLayout class="buttonstack" verticalAlignment="bottom">
    <Button text="Submit" type="submit" (tap)="submitLog()"></Button>
</StackLayout>