<StackLayout id="mainstack" [formGroup]="moodForm">
    
    <StackLayout>
        <!-- Mood-valinta -->
        <Label class="moodText" text="HOW ARE YOU FEELING TODAY?" ></Label>
         <RadListView [items]="moods" (itemTap)="onItemTap($event)" rowHeight="60">
            <ng-template tkListItemTemplate let-item="item">
                <!-- <app-item [item]="item"></app-item> -->
                <ns-mood [item]="item"></ns-mood>
            </ng-template>
            <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" spanCount="5"></ListViewGridLayout>
        </RadListView>
        <!-- Aktiviteettien valinta -->
        <Label class="moodText" text="WHAT DID YOU DO TODAY?" ></Label>
        <RadListView [items]="items" (itemTap)="onItemTap($event)" rowHeight="60" height="235">
            <ng-template tkListItemTemplate let-item="item">
                <app-item [item]="item"></app-item>
            </ng-template>
            <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" spanCount="5"></ListViewGridLayout>
        </RadListView>
    </StackLayout>
    <!-- Vapaa teksti -->
    <TextField width="75%" class="textField" formControlName="freeText" hint="Free text" autocorrect="false"></TextField>
</StackLayout>
<StackLayout height="60" class="buttonstack" verticalAlignment="bottom">
    <Button height="60" text="Submit" type="submit" (tap)="submitLog()"></Button>
</StackLayout>