/* Add mobile styles for the component here.  */
#gridi {
    background-color: wheat;
}

#itemi {
    background-color: gold;
    margin: 5;
    border-color: burlywood;
    border-width: 2;
}

#labeli {
    text-align: center;
}

#mainstack {
    margin-bottom: 150px;
}