<StackLayout *ngIf="!isLoading" id="mainstack">

    <RadListView [items]="entries" selectionBehavior="Press">
        <ng-template tkListItemTemplate let-item="item">
            <GridLayout [item]="item" class="entryListItem" columns="80px * auto" rows="auto auto auto"
                orientation="horizontal" id="entry">
                <Label id="eka" col="1" row="0" text="{{ item.date.toLocaleDateString() }}"></Label>
                <Image id="toka" col="0" row="0" rowspan="4" src="~/app/images/mood-icons/{{ item.moodImageURL }}"
                    height="50%" width="50%" horizontalAlignment="center" verticalAlignment="center"></Image>
                <StackLayout id="kolmas" col="1" row="1" orientation="horizontal">
                    <Image id="activityIcon" *ngFor="let activity of item.activities"
                        src="~/app/images/activity-icons/{{ activity.imageURL }}" height="10%" width="10%"></Image>
                </StackLayout>
                <Label id="neljas" col="1" row="2" text="{{ item.freeText }}"></Label>
            </GridLayout>
        </ng-template>
    </RadListView>
</StackLayout>

<StackLayout class="loader" *ngIf="isLoading">
    <ActivityIndicator class="indicator" color="#469b74" height="125" [busy]="isLoading"></ActivityIndicator>
</StackLayout>