/* Add mobile styles for the component here.  */
#mainstack {
    margin-bottom: 150px;
    background-color: #f5f5f5;
}

.statButton {
    background-color: #356455;
    color: #f5f5f5;
}

.action-bar {
    height: 200px;
    background-color: #356455;
}
.teksti {
    vertical-align: center;
    margin-left: 50px;
    color: #356455;
    font-size: 18px;
        font-weight: bold;

}